
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    padding: 40px 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 2.5rem;
}


form {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #34495e;
    text-transform: capitalize;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
}


button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    
}

button:hover {
    background-color: #2980b9;
}


.resultados {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
}

.resultados p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #2c3e50;
}
